@media screen and (max-width: 649px) {
    .Item_size_m {
        -ms-grid-column: span 6;
        grid-column: span 6;
    }

    .Item_size_m .Item-Title {
        font-size: 18px;
        line-height: 22px;
    }
}